includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    level: 8
    paths:
        - packages
    ignoreErrors:
        - '#Class App\\User not found.#'
        - '#Method LaravelInteraction\\Rate\\Tests\\Models\\User::rate\(\) should return LaravelInteraction\\Rate\\Rating but returns Illuminate\\Database\\Eloquent\\Model.#'
        - '#Method LaravelInteraction\\Rate\\Tests\\Models\\User::rateOnce\(\) should return LaravelInteraction\\Rate\\Rating but returns Illuminate\\Database\\Eloquent\\Model.#'
        - '#Method LaravelInteraction\\Clap\\Tests\\Models\\User::clap\(\) should return LaravelInteraction\\Clap\\Applause but returns Illuminate\\Database\\Eloquent\\Model.#'
        - '#Method LaravelInteraction\\Vote\\Tests\\Models\\User::vote\(\) should return LaravelInteraction\\Vote\\Vote but returns Illuminate\\Database\\Eloquent\\Model.#'
        - '#Parameter \#(.*) \$(.*) of method Illuminate\\Database\\Eloquent\\Model::(.*)\(\) expects (.*), mixed given.#'
        - '#Method LaravelInteraction\\(.*)::getTable\(\) should return string but returns mixed.#'
        - '#Parameter \#(.*) \$(.*) of method Illuminate\\Support\\Collection<int,Illuminate\\Database\\Eloquent\\Model>::where\(\) expects string, mixed given.#'
        - '#Parameter \#4 \$divisorMap of static method LaravelInteraction\\Support\\Interaction::numberForHumans\(\) expects array<int, string>\|null, mixed given.#'
        - '#Parameter \#2 \$class of function is_a expects string, mixed given.#'
        - '#Parameter \#1 \$table of static method Illuminate\\Database\\Schema\\Builder::create\(\) expects string, mixed given.#'
        - '#Parameter \#1 \$column of method Illuminate\\Database\\Schema\\Blueprint::unsignedBigInteger\(\) expects string, mixed given.#'
        - '#Parameter \#1 \$table of static method Illuminate\\Database\\Schema\\Builder::dropIfExists\(\) expects string, mixed given.#'
